<div class="form-row datetime-widget datetime-widget-datetime d-flex">

    <label
        for="fromDate"
        class="form-control bg-body-secondary px-2 fs-6 rounded-start-3"
    >
        Période
    </label>

    <input
        type="date"
        name="from_date"
        id="fromDate"
        class="bg-body-secondary fw-bold form-date"
        style="border: none"
    />

    <label
        for="toDate"
        class="form-control bg-body-secondary px-2 fs-6"
    >
        à
    </label>

    <input
        type="date"
        name="to_date"
        id="toDate"
        class="fw-bold bg-body-secondary rounded-end-3 form-date"
        style="border: none"
    />

</div>
