<div class="actions container p-3 d-flex flex-row-reverse">
    {% include 'admin/_period_picker.html.twig' %}
</div>

<div data-controller="chart" class="container pb-2 mt-3">
    <div class="card">
        <div id="chart" style="height: 400px;"></div>
    </div>

    <div class="card">
        <div id="chart2" style="height: 400px;"></div>
    </div>
</div>

{% include 'admin/_users_kpi_card.html.twig' %}